*{
  font-family:sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box
}


@font-face {

  font-family: 'intro_black';

  src: url('fonts/intro_black-webfont.eot');

  src: url('fonts/intro_black-webfontd41d.eot?#iefix') format('embedded-opentype'),

       url('fonts/intro_black-webfont.woff2') format('woff2'),

       url('fonts/intro_black-webfont.woff') format('woff'),

       url('fonts/intro_black-webfont.ttf') format('truetype'),

       url('fonts/intro_black-webfont.svg#intro_blackregular') format('svg');

  font-weight: normal;

  font-style: normal;
  font-display:block;

}





@font-face {

  font-family: 'intro_black_altregular';

  src: url('fonts/intro-black-alt-webfont.eot');

  src: url('fonts/intro-black-alt-webfontd41d.eot?#iefix') format('embedded-opentype'),

       url('fonts/intro-black-alt-webfont.woff2') format('woff2'),

       url('fonts/intro-black-alt-webfont.woff') format('woff'),

       url('fonts/intro-black-alt-webfont.ttf') format('truetype'),

       url('fonts/intro-black-alt-webfont.svg#intro_black_altregular') format('svg');

  font-weight: normal;

  font-style: normal;
  font-display:block;

}









@font-face {

  font-family: 'intro_lightregular';

  src: url('fonts/intro-light-webfont.eot');

  src: url('fonts/intro-light-webfontd41d.eot?#iefix') format('embedded-opentype'),

       url('fonts/intro-light-webfont.woff2') format('woff2'),

       url('fonts/intro-light-webfont.woff') format('woff'),

       url('fonts/intro-light-webfont.ttf') format('truetype'),

       url('fonts/intro-light-webfont.svg#intro_lightregular') format('svg');

  font-weight: normal;

  font-style: normal;
  font-display:block;

}









@font-face {

  font-family: 'intro_regularregular';

  src: url('fonts/intro-regular-webfont.eot');

  src: url('fonts/intro-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),

       url('fonts/intro-regular-webfont.woff2') format('woff2'),

       url('fonts/intro-regular-webfont.woff') format('woff'),

       url('fonts/intro-regular-webfont.ttf') format('truetype'),

       url('fonts/intro-regular-webfont.svg#intro_regularregular') format('svg');

  font-weight: normal;

  font-style: normal;
font-display:block;
}



@font-face {

  font-family: 'ubuntulight';

  src: url('fonts/ubuntu-l-webfont.eot');

  src: url('fonts/ubuntu-l-webfontd41d.eot?#iefix') format('embedded-opentype'),

       url('fonts/ubuntu-l-webfont.woff2') format('woff2'),

       url('fonts/ubuntu-l-webfont.woff') format('woff'),

       url('fonts/ubuntu-l-webfont.ttf') format('truetype'),

       url('fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');

  font-weight: normal;

  font-style: normal;
font-display:block;


}
